split-area {
    padding: 0;
}

.quizz-form {

}

.quizz-render {
    width: auto;
}
.quizz-control {
    position: fixed;
    width: auto;
    height: auto;
    bottom: 15vh;
    right: 25px;
}


.submit-button {
    color: white;
}