<div class="quizz-editable" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
    <div fxFlex class="quizz-form">
        <app-component-quizz-form [quizz]="quizz"></app-component-quizz-form>
    </div>
    <div class="quizz-render" *ngIf="isRendered">
        <app-component-quizz-render [quizz]="quizz" [isEditable]="isEditable"></app-component-quizz-render>
    </div>
</div>
<div class="quizz-control">
    <button mat-mini-fab color="primary" (click)="handleEditButton()"><mat-icon>edit</mat-icon></button>
    <button mat-fab color="accent" *ngIf="isRendered" (click)="handleRenderButton()"><mat-icon>visibility_off</mat-icon></button>
    <button mat-fab color="accent" *ngIf="!isRendered" (click)="handleRenderButton()"><mat-icon>visibility</mat-icon></button>
</div>