<mat-card class="dashboard">
        <mat-card-header>
            <mat-card-title>
                Dashboard
            </mat-card-title>
            <mat-card-subtitle>
                Manage your application
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Creation de formulaire
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-component-quizz-editable></app-component-quizz-editable>
            </mat-expansion-panel>

        </mat-card-content>
    </mat-card>
