<mat-card class="home">
    <mat-card-header>
        <mat-card-title>
            Home page title
        </mat-card-title>
        <mat-card-subtitle>
            Home page subtitle
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
    </mat-card-content>
</mat-card>
