
.app-container{

    .app-nav {
        width: 50%;
        border-right: solid rgb(31, 30, 30) 1px;
    }

    .app-view {
        width: 100%;
        height: 100%;
        .app-header {
            width: 100%;
            mat-toolbar-row {
                display: flex;
                button {
                    margin-right: 25px;
                }
                .theme-button {
                    position: relative;
                    right: 0px;
                }
            }
        }
        .app-content {

        }
    }
}
