<mat-sidenav-container class="app-container" [ngClass]="theme" [ngStyle]="style" color="primary" fullscreen>
  <mat-sidenav class="app-nav" mode="over" [opened]="isSidenavOpened" (openedChange)="onSidenavChange($event)">
    <mat-nav-list>
      <h3 mat-subheader>Pages</h3>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="home">
        <mat-icon matListIcon>home</mat-icon>
        <h4 matLine>Home</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="dashboard">
        <mat-icon matListIcon>dashboard</mat-icon>
        <h4 matLine>Dashboard</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-view" >
    <mat-toolbar class="app-header">
      <mat-toolbar-row fxLayout="row">
        <span fxFex>
          <button mat-icon-button (click)="handleMenuButton()">
            <mat-icon>menu</mat-icon>
          </button>
        </span>
        <span fxFlex="90">
          <h1>{{ title }}</h1>
        </span>
        <span fxFlex>
          <button class="theme-button" mat-icon-button (click)="handleThemeButton()">
            <mat-icon>format_paint</mat-icon>
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>