mat-card {
    width: auto;
    position: relative;
    top: 5vh;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15vh;
}

mat-form-field {
    width: 100%;
}


.add-question-container {
    margin-top:15px;
    height: 25px;
    width: 100%;
    text-align: center;
}

