mat-card {
    width: auto;
    position: relative;
    top: 5vh;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10vh;
}

.question-content {
    width: 100%;
}

.response-form {
    width: 100%;
}

mat-form-field {
    width: 100%;
}