
@import '~@angular/material/theming';

@include mat-core();

// default light theme
$default-app-light-primary: mat-palette($mat-indigo);
$default-app-light-accent: mat-palette($mat-teal);
$default-app-light-warn: mat-palette($mat-red);

$default-app-light-theme: mat-light-theme($default-app-light-primary, $default-app-light-accent, $default-app-light-warn);

// default dark them
$default-app-dark-primary: mat-palette($mat-purple);
$default-app-dark-accent: mat-palette($mat-orange, 900);
$default-app-dark-warn: mat-palette($mat-red, 900);

$default-app-dark-theme: mat-dark-theme($default-app-dark-primary, $default-app-dark-accent, $default-app-dark-warn);

.default-light-them {
    @include angular-material-theme($default-app-light-theme);
}

.default-dark-theme {
    @include angular-material-theme($default-app-dark-theme);
}

@include angular-material-theme($default-app-light-theme);
